.root {
	-fx-background-color:lightskyblue;
	-fx-padding: 10 5 10 5;
	-fx-spacing:10;
     	-style1-color: rgb(0,0,0);
     	-style2-color: lightblue;
	-fx-pref-width:1920;
	-fx-pref-height:1080;
	-fx-min-width:1920;
    -fx-min-height:1080;
    -fx-max-width:1920;
    -fx-max-height:1080;
}


.top {
     	-fx-background-color: lightskyblue;
	-fx-spacing:5;
	-fx-pref-width:1920;
	-fx-pref-height:432;
			-fx-min-width:1920;
        	-fx-min-height:432;
        		-fx-max-width:1920;
            	-fx-max-height:432;
}

.history {
	-fx-background-color:white;
	-fx-background-radius:0,0,0,0;
	-fx-pref-width:840;
	-fx-pref-height:432;
			-fx-min-width:840;
        	-fx-min-height:432;
        		-fx-max-width:840;
            	-fx-max-height:432;
}


.BeadRoadPane {
	-fx-background-color: white;
	-fx-background-radius:0,0,0,0;
	-fx-border-color:rgb(108,116,118);
	-fx-border-width:0,0,0,0;
	-fx-border-radius: 0,0,0,0;
	-fx-pref-height:432;
	-fx-pref-width:1070;
				-fx-min-width:1070;
            	-fx-min-height:432;
            		-fx-max-width:1070;
                	-fx-max-height:432;
}

.BeadRoadTilePane {
    -fx-padding:5,0,0,0;
	-fx-tile-alignment: top-left;
	-fx-pref-rows: 8;
	-fx-pref-columns: 20;
	-fx-pref-tile-width: 51;
	-fx-pref-tile-height: 51;
	-fx-hgap: 1.5;
	-fx-vgap: 1.5;
	
}

.BeadRoadLabel {
    -fx-background-color:rgb(206,235,251);
    -fx-pref-height: 51;
    -fx-pref-width: 51;
}

.BeadRoadLabel:bankerWin {
    -fx-background-image: url("../images/bead-road/a.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat, stretch;
}

.BeadRoadLabel:bankerWinBankerPair {
    -fx-background-image: url("../images/bead-road/b.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat, stretch;
}

.BeadRoadLabel:bankerWinPlayerPair {
    -fx-background-image: url("../images/bead-road/c.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat, stretch;
}

.BeadRoadLabel:bankerWinBothPair {
    -fx-background-image: url("../images/bead-road/d.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat, stretch;
}

.BeadRoadLabel:playerWin {
    -fx-background-image: url("../images/bead-road/e.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat, stretch;
}

.BeadRoadLabel:playerWinBankerPair {
    -fx-background-image: url("../images/bead-road/f.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat, stretch;
}

.BeadRoadLabel:playerWinPlayerPair {
    -fx-background-image: url("../images/bead-road/g.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat, stretch;
}

.BeadRoadLabel:playerWinBothPair {
    -fx-background-image: url("../images/bead-road/h.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat, stretch;
}

.BeadRoadLabel:tieWin {
    -fx-background-image: url("../images/bead-road/i.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat, stretch;
}

.BeadRoadLabel:tieWinBankerPair {
    -fx-background-image: url("../images/bead-road/j.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat, stretch;
}

.BeadRoadLabel:tieWinPlayerPair {
    -fx-background-image: url("../images/bead-road/k.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat, stretch;
}

.BeadRoadLabel:tieWinBothPair {
    -fx-background-image: url("../images/bead-road/l.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat, stretch;
}



.BigRoadPane {
	-fx-background-color: rgb(108,116,118,.5);
	-fx-padding:0 0 0 0;
	-fx-background-radius:0,0,0,0;
	-fx-border-color:rgb(108,116,118);
	-fx-border-width:0,0,0,0;
	-fx-border-radius:0,0,0,0;
	-fx-pref-height:233;
	-fx-pref-width:1920;
}


.BigRoadTilePane {
	-fx-padding:0 0 0 0;
	-fx-orientation: vertical;
	-fx-alignment: top-left;
	-fx-tile-alignment: top-left;
	-fx-pref-rows:4;
	-fx-pref-columns:20;
	-fx-pref-tile-width:37.1;
	-fx-pref-tile-height:37.1;
	-fx-hgap:.5;
	-fx-vgap:.5;
}

.BigRoadLabel {
	-fx-background-color:white;
	-fx-alignment:center;
	-fx-text-overrun:center-ellipsis;
	-fx-text-fill:white;
	-fx-font-weight:bold;
	-fx-pref-width:37.1;
	-fx-pref-height:37.1;
}

.BigRoadLabel:bankerWin {
	-fx-background-image: url("../images/big-road/1.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat, stretch;
}

.BigRoadLabel:bankerWinBeforeTie {
	-fx-background-image: url("../images/big-road/1.png"),url(../images/big-road/21.png);
	-fx-background-position: center,12 14;
	-fx-background-repeat: no-repeat, no-repeat;
}

.BigRoadLabel:bankerWinBankerPair {
	-fx-background-image: url("../images/big-road/2.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat, stretch;
}

.BigRoadLabel:bankerWinBankerPairBeforeTie {
	-fx-background-image: url("../images/big-road/2.png"),url(../images/big-road/21.png);
	-fx-background-position: center,12 14;
	-fx-background-repeat: no-repeat, no-repeat;
}

.BigRoadLabel:bankerWinPlayerPair {
	-fx-background-image: url("../images/big-road/3.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat, stretch;
}

.BigRoadLabel:bankerWinPlayerPairBeforeTie {
	-fx-background-image: url("../images/big-road/3.png"),url(../images/big-road/21.png);
	-fx-background-position: center,12 14;
	-fx-background-repeat: no-repeat, no-repeat;
}

.BigRoadLabel:bankerWinBothPair {
	-fx-background-image: url("../images/big-road/4.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat, stretch;
}

.BigRoadLabel:bankerWinBothPairBeforeTie {
	-fx-background-image: url("../images/big-road/4.png"),url(../images/big-road/21.png);
	-fx-background-position: center,12 14;
	-fx-background-repeat: no-repeat, no-repeat;
}

.BigRoadLabel:playerWin {
	-fx-background-image: url("../images/big-road/5.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat, stretch;
}

.BigRoadLabel:playerWinBeforeTie {
	-fx-background-image: url("../images/big-road/5.png"),url(../images/big-road/21.png);
	-fx-background-position: center,12 14;
	-fx-background-repeat: no-repeat, no-repeat;
}

.BigRoadLabel:playerWinBankerPair {
	-fx-background-image: url("../images/big-road/6.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat, stretch;
}

.BigRoadLabel:playerWinBankerPairBeforeTie {
	-fx-background-image: url("../images/big-road/6.png"),url(../images/big-road/21.png);
	-fx-background-position: center,12 14;
	-fx-background-repeat: no-repeat, no-repeat;
}

.BigRoadLabel:playerWinPlayerPair {
	-fx-background-image: url("../images/big-road/7.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat, stretch;
}

.BigRoadLabel:playerWinPlayerPairBeforeTie {
	-fx-background-image: url("../images/big-road/7.png"),url(../images/big-road/21.png);
	-fx-background-position: center,12 14;
	-fx-background-repeat: no-repeat, no-repeat;
}

.BigRoadLabel:playerWinBothPair {
	-fx-background-image: url("../images/big-road/8.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat, stretch;
}

.BigRoadLabel:playerWinBothPairBeforeTie {
	-fx-background-image: url("../images/big-road/8.png"),url(../images/big-road/21.png);
	-fx-background-position: center,12 14;
	-fx-background-repeat: no-repeat, no-repeat;
}














.bottomHBox {
	-fx-background-color:lightskyblue;
	-fx-pref-width:1910;
	-fx-pref-height:167;
	-fx-spacing:11;
}

.BigEyeRoadPane {
	-fx-background-color:rgb(108,116,118,.5);
	-fx-pref-height:167;
	-fx-pref-width:629;
}


.BigEyeRoadTilePane {
	-fx-scale-x:1;
	-fx-scale-y:1;
    -fx-alignment: top-left;
    -fx-tile-alignment: top-left;
	-fx-pref-rows:4;
	-fx-pref-columns:21;
	-fx-hgap:1;
	-fx-vgap:1;
	-fx-pref-tile-width:20;
	-fx-pref-tile-height:20;
}

.BigEyeRoadLabel {
	-fx-background-color:white;
	-fx-pref-width:20;
	-fx-pref-height:20;
}

.BigEyeRoadLabel:red {
	-fx-background-image: url("../images/big-eye-road/1.png");
	-fx-background-position:center;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: contain;
}

.BigEyeRoadLabel:blue {
	-fx-background-image: url("../images/big-eye-road/2.png");
	-fx-background-position:center;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: contain;
}


.SmallRoadPane {
	-fx-background-color: rgb(108,116,118,.5);
	-fx-pref-height:167;
	-fx-pref-width:629;
}

.SmallRoadTilePane {
	-fx-pref-height:184;
	-fx-orientation: vertical;
	-fx-hgap:1;
	-fx-vgap:1;
	-fx-pref-tile-width:20;
	-fx-pref-tile-height:20;
	-fx-pref-rows:4;
}

.SmallRoadlabel {
	-fx-background-color:white;
	-fx-pref-width:20;
	-fx-pref-height:20;
}


.SmallRoadlabel:red {
	-fx-background-image: url("../images/small-road/1.png");
	-fx-background-position:center;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: contain;
}

.SmallRoadlabel:blue {
	-fx-background-image: url("../images/small-road/2.png");
	-fx-background-position:center;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: contain;
}

.CockroachRoadPane {
	-fx-background-color: rgb(108,116,118,.5);
	-fx-pref-height:167;
	-fx-pref-width:629;
}

.CockroachRoadTilePane {
	-fx-pref-height:167;
	-fx-orientation: vertical;
	-fx-hgap:1;
	-fx-vgap:1;
	-fx-pref-tile-width:20;
	-fx-pref-tile-height:20;
	-fx-pref-rows:4;
}

.CockroachRoadlabel {
	-fx-background-color:white;
	-fx-pref-width:20;
	-fx-pref-height:20;
}

.CockroachRoadlabel:red {
	-fx-background-image: url("../images/cockroach-road/1.png");
	-fx-background-position:center;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: contain;
}

.CockroachRoadlabel:blue {
	-fx-background-image: url("../images/cockroach-road/2.png");
	-fx-background-position:center;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: contain;
}


